/* @media screen and (min-width: 280px) and (max-width: 319px){
    body {
        background-image: url("../img/GalaxyFold.png");
        background-attachment: fixed;
        background-position-x: 0;
    }

    .zon {
        width: 100px;
        float: left;
    }

    .back-to-lamaravilla {
        display: none;
    }

    .navigation {
        list-style-type: none;
    }

    .navigation li {
        float: left;
        font-size: 20px;
        font-style: bold;
        font-family:'Courier New', Courier, monospace;
        margin-left: 15px;
        margin-top: 45px;
    }

    .footer { 
        position: absolute; 
        left: 0 ; right: 0; bottom: -600px; 
        height:[footer-height];
        float: left;
    }

    .p-footer {
        text-align: center;
    }

    .black-line {
        padding: 1px;
        padding-left: 35px;
        padding-right: 35px;
        width: 60%;
        margin-left: 10%;
        background-color: black;
        align-content: center;
    }

    .bottom-footer {
        margin-bottom: 25px;
    }

    .h1-align-welcome {
        float: left;
        margin-top: 25px;
        font-size: 20px;
        width: 80%;
        margin-left: 10%;
        text-align: center
    }

    .p-homepage {
        text-align: center;
        float: left;
    }

    .navigation-div {
        z-index: 1;
    }

    .test-regels {
        float: left; 
    }

    .test-regels li {
        margin-top: 10px;
    }

    .p-first {
        margin-top: 10px;
    }

    .bottom-socials {
        width: 75%;
        margin-left: 5%;
    }

    .bottom-socials li{
        list-style-type: none;
    }

    .bottom-social {
        margin-top: 10px;
        width: 45px;
        float: left;
    }

    .socials-bottom-line {
        float: left;
        margin-top: 25px;
        margin-left: 6.5%;
    }

    .socials-vertical-line {
        display: none;
    }

    .socials {
        display: none;
    }

    .bottom-footer {
        margin-left: 6.5%;
    }

    .top-footer {
        margin-left: 6.5%;
    }
}

@media screen and (min-width: 320px) and (max-width: 359px) and (min-height: 568px){
    body {
        background-image: url("../img/iPhone5.png");
        background-attachment: fixed;
        background-position-x: 0;
    }

    .zon {
        width: 80px;
        float: left;
    }

    .back-to-lamaravilla {
        display: none;
    }

    .navigation {
        list-style-type: none;
    }

    .navigation li {
        float: left;
        font-size: 25px;
        font-style: bold;
        font-family:'Courier New', Courier, monospace;
        margin-left: 15px;
        margin-top: 30px;
    }

    .footer { 
        position: absolute; 
        left: 0 ; right: 0; bottom: -600px; 
        height:[footer-height];
        float: left;
    }

    .p-footer {
        text-align: center;
    }

    .black-line {
        padding: 1px;
        padding-left: 35px;
        padding-right: 35px;
        width: 60%;
        margin-left: 10%;
        background-color: black;
        align-content: center;
    }

    .bottom-footer {
        margin-bottom: 25px;
    }

    .h1-align-welcome {
        float: left;
        margin-top: 25px;
        font-size: 20px;
        width: 80%;
        margin-left: 10%;
        text-align: center
    }

    .p-homepage {
        text-align: center;
        float: left;
    }

    .navigation-div {
        z-index: 1;
    }

    .test-regels {
        float: left; 
    }

    .test-regels li {
        margin-top: 10px;
    }

    .p-first {
        margin-top: 10px;
    }

    .bottom-socials {
        width: 75%;
        margin-left: 12.5%;
    }

    .bottom-socials li{
        list-style-type: none;
    }

    .socials-vertical-line {
        display: none;
    }

    .socials {
        display: none;
    }
    
    .bottom-social {
        margin-top: 10px;
        width: 45px;
        float: left;
    }

    .socials-bottom-line {
        float: left;
        margin-top: 25px;
    }
}

@media screen and (min-width: 320px) and (max-width: 359px) and (min-height: 480px) and (max-height: 567px){
    body {
        background-image: url("../img/iPhone4.png");
        background-attachment: fixed;
        background-position-x: 0;
    }

    .zon {
        width: 70px;
        float: left;
    }

    .back-to-lamaravilla {
        display: none;
    }

    .navigation {
        list-style-type: none;
    }

    .navigation li {
        float: left;
        font-size: 30px;
        font-style: bold;
        font-family:'Courier New', Courier, monospace;
        margin-left: 15px;
        margin-top: 25px;
    }

    .footer { 
        position: absolute; 
        left: 0 ; right: 0; bottom: -650px; 
        height:[footer-height];
        float: left;
    }

    .p-footer {
        text-align: center;
    }

    .black-line {
        padding: 1px;
        padding-left: 35px;
        padding-right: 35px;
        width: 60%;
        margin-left: 10%;
        background-color: black;
        align-content: center;
    }

    .bottom-footer {
        margin-bottom: 25px;
    }

    .h1-align-welcome {
        float: left;
        margin-top: 25px;
        font-size: 20px;
        width: 80%;
        margin-left: 10%;
        text-align: center
    }

    .p-homepage {
        text-align: center;
        float: left;
    }

    .navigation-div {
        z-index: 1;
    }

    .test-regels {
        float: left; 
    }

    .test-regels li {
        margin-top: 10px;
    }

    .p-first {
        margin-top: 10px;
    }

    .bottom-socials {
        width: 75%;
        margin-left: 12.5%;
    }

    .bottom-socials li{
        list-style-type: none;
    }

    .socials-vertical-line {
        display: none;
    }

    .socials {
        display: none;
    }
    
    .bottom-social {
        margin-top: 10px;
        width: 45px;
        float: left;
    }

    .socials-bottom-line {
        float: left;
        margin-top: 25px;
    }
}

@media screen and (min-width: 360px) and (max-width: 374px){
    body {
        background-image: url("../img/GalaxyS5.png");
        background-attachment: fixed;
        background-position-x: 0;
    }

    .zon {
        width: 100px;
        float: left;
    }

    .back-to-lamaravilla {
        display: none;
    }

    .navigation {
        list-style-type: none;
    }

    .navigation li {
        float: left;
        font-size: 32px;
        font-style: bold;
        font-family:'Courier New', Courier, monospace;
        margin-left: 15px;
        margin-top: 37.5px;
    }

    .footer { 
        position: absolute; 
        left: 0 ; right: 0; bottom: -510px; 
        height:[footer-height];
        float: left;
    }

    .p-footer {
        text-align: center;
    }

    .black-line {
        padding: 1px;
        padding-left: 35px;
        padding-right: 35px;
        width: 60%;
        margin-left: 10%;
        background-color: black;
        align-content: center;
    }

    .bottom-footer {
        margin-bottom: 25px;
    }

    .h1-align-welcome {
        float: left;
        margin-top: 25px;
        font-size: 20px;
        width: 80%;
        margin-left: 10%;
        text-align: center
    }

    .p-homepage {
        text-align: center;
        float: left;
    }

    .navigation-div {
        z-index: 1;
    }

    .test-regels {
        float: left; 
    }

    .test-regels li {
        margin-top: 10px;
    }

    .p-first {
        margin-top: 10px;
    }

    .bottom-socials {
        width: 75%;
        margin-left: 14%;
    }

    .bottom-socials li{
        list-style-type: none;
    }

    .socials-vertical-line {
        display: none;
    }

    .socials {
        display: none;
    }
    
    .bottom-social {
        margin-top: 10px;
        width: 45px;
        float: left;
    }

    .socials-bottom-line {
        float: left;
        margin-top: 25px;
    }
}

@media screen and (min-width: 375px) and (max-width: 410px){

    body {
        background-image: url("../img/iPhone678.png");
        background-attachment: fixed;
        background-position-x: 0;
    }

    .zon {
        width: 100px;
        float: left;
    }

    .back-to-lamaravilla {
        display: none;
    }

    .navigation {
        list-style-type: none;
    }

    .navigation li {
        float: left;
        font-size: 35px;
        font-style: bold;
        font-family:'Courier New', Courier, monospace;
        margin-left: 15px;
        margin-top: 35px;
    }

    .footer { 
        position: absolute; 
        left: 0 ; right: 0; bottom: -450px; 
        height:[footer-height];
        float: left;
    }

    .p-footer {
        text-align: center;
    }

    .black-line {
        padding: 1px;
        padding-left: 35px;
        padding-right: 35px;
        width: 60%;
        margin-left: 10%;
        background-color: black;
        align-content: center;
    }

    .bottom-footer {
        margin-bottom: 25px;
    }

    .h1-align-welcome {
        float: left;
        margin-top: 25px;
        font-size: 20px;
        width: 80%;
        margin-left: 10%;
        text-align: center
    }

    .p-homepage {
        text-align: center;
        float: left;
    }

    .navigation-div {
        z-index: 1;
    }

    .test-regels {
        float: left; 
    }

    .test-regels li {
        margin-top: 10px;
    }

    .p-first {
        margin-top: 10px;
    }

    .bottom-socials {
        width: 75%;
        margin-left: 7.5%;
    }

    .bottom-socials li{
        list-style-type: none;
        width: 75%;
        margin-left: 12.5%;
    }

    .socials-vertical-line {
        display: none;
    }

    .socials {
        display: none;
    }
    
    .bottom-social {
        margin-top: 10px;
        width: 45px;
        float: left;
    }

    .socials-bottom-line {
        float: left;
        margin-top: 25px;
    }
}

@media screen and (min-width: 411px) and (max-width: 460px){

    body {
        background-image: url("../img/iPhone678Plus.png");
        background-attachment: fixed;
        background-position-x: 0;
    }

    .zon {
        width: 110px;
        float: left;
    }

    .back-to-lamaravilla {
        display: none;
    }

    .navigation {
        list-style-type: none;
    }

    .navigation li {
        float: left;
        font-size: 40px;
        font-style: bold;
        font-family:'Courier New', Courier, monospace;
        margin-left: 15px;
        margin-top: 40px;
    }

    .footer { 
        position: absolute; 
        left: 0 ; right: 0; bottom: -350px; 
        height:[footer-height];
        float: left;
    }

    .p-footer {
        text-align: center;
    }

    .black-line {
        padding: 1px;
        padding-left: 35px;
        padding-right: 35px;
        width: 60%;
        margin-left: 10%;
        background-color: black;
        align-content: center;
    }

    .bottom-footer {
        margin-bottom: 25px;
    }

    .h1-align-welcome {
        float: left;
        margin-top: 25px;
        font-size: 20px;
        width: 80%;
        margin-left: 10%;
        text-align: center
    }

    .p-homepage {
        text-align: center;
        float: left;
    }

    .navigation-div {
        z-index: 1;
    }

    .test-regels {
        float: left; 
    }

    .test-regels li {
        margin-top: 10px;
    }

    .p-first {
        margin-top: 10px;
    }

    .bottom-socials {
        width: 75%;
        margin-left: 7.5%;
    }

    .bottom-socials li{
        list-style-type: none;
        width: 75%;
        margin-left: 12.5%;
    }

    .socials-vertical-line {
        display: none;
    }

    .socials {
        display: none;
    }
    
    .bottom-social {
        margin-top: 10px;
        width: 45px;
        float: left;
    }

    .socials-bottom-line {
        float: left;
        margin-top: 25px;
    }
}

@media screen and (min-width: 375px) and (max-width: 440px) and (min-height: 812px) and (max-height: 835px){

    body {
        background-image: url("../img/iPhoneX.png");
        background-attachment: fixed;
        background-position-x: 0;
    }

    .zon {
        width: 135px;
        float: left;
    }

    .back-to-lamaravilla {
        display: none;
    }

    .navigation {
        list-style-type: none;
    }

    .navigation li {
        float: left;
        font-size: 30px;
        font-style: bold;
        font-family:'Courier New', Courier, monospace;
        margin-left: 15px;
        margin-top: 60px;
    }

    .footer { 
        position: absolute; 
        left: 0 ; right: 0; bottom: -335px; 
        height:[footer-height];
        float: left;
    }

    .p-footer {
        text-align: center;
    }

    .black-line {
        padding: 1px;
        padding-left: 35px;
        padding-right: 35px;
        width: 60%;
        margin-left: 10%;
        background-color: black;
        align-content: center;
    }

    .bottom-footer {
        margin-bottom: 25px;
    }

    .h1-align-welcome {
        float: left;
        margin-top: 25px;
        font-size: 20px;
        width: 80%;
        margin-left: 10%;
        text-align: center
    }

    .p-homepage {
        text-align: center;
        float: left;
    }

    .navigation-div {
        z-index: 1;
    }

    .test-regels {
        float: left; 
    }

    .test-regels li {
        margin-top: 10px;
    }

    .p-first {
        margin-top: 10px;
    }

    .bottom-socials {
        width: 75%;
        margin-left: 7.5%;
    }

    .bottom-socials li{
        list-style-type: none;
        width: 75%;
        margin-left: 12.5%;
    }

    .socials-vertical-line {
        display: none;
    }

    .socials {
        display: none;
    }
    
    .bottom-social {
        margin-top: 10px;
        width: 45px;
        float: left;
    }

    .socials-bottom-line {
        float: left;
        margin-top: 25px;
    }
}

@media screen and (min-width: 461px) and (max-width: 539px){

    body {
        background-image: url("../img/NokiaN9.png");
        background-attachment: fixed;
        background-position-x: 0;
    }

    .zon {
        width: 140px;
        float: left;
    }

    .back-to-lamaravilla {
        display: none;
    }

    .navigation {
        list-style-type: none;
    }

    .navigation li {
        float: left;
        font-size: 50px;
        font-style: bold;
        font-family:'Courier New', Courier, monospace;
        margin-left: 15px;
        margin-top: 50px;
    }

    .footer { 
        position: absolute; 
        left: 0 ; right: 0; bottom: -500px; 
        height:[footer-height];
        float: left;
    }

    .p-footer {
        text-align: center;
    }

    .black-line {
        padding: 1px;
        padding-left: 35px;
        padding-right: 35px;
        width: 60%;
        margin-left: 10%;
        background-color: black;
        align-content: center;
    }

    .bottom-footer {
        margin-bottom: 25px;
        margin-left: 12.5%;
    }

    .top-footer {
        margin-left: 12.5%;
    }

    .h1-align-welcome {
        float: left;
        margin-top: 25px;
        font-size: 20px;
        width: 80%;
        margin-left: 10%;
        text-align: center
    }

    .p-homepage {
        text-align: center;
        float: left;
        width: 90%;
        margin-left: 5%;
        font-size: 20px;
    }

    .navigation-div {
        z-index: 1;
    }

    .test-regels {
        float: left; 
    }

    .test-regels li {
        margin-top: 10px;
        font-size: 20px;
        margin-bottom: 20px;
    }

    .p-first {
        margin-top: 10px;
    }

    .bottom-socials {
        width: 75%;
        margin-left: 12.5%;
    }

    .bottom-socials li{
        list-style-type: none;
        width: 75%;
        margin-left: 12.5%;
    }

    .socials-vertical-line {
        display: none;
    }

    .socials {
        display: none;
    }
    
    .bottom-social {
        margin-top: 10px;
        width: 55px;
        float: left;
    }

    .socials-bottom-line {
        float: left;
        margin-top: 25px;
        margin-left: 12.5%;
    }
}

@media screen and (min-width: 540px) and (max-width: 598px){

    body {
        background-image: url("../img/SurfaceDuo.png");
        background-attachment: fixed;
        background-position-x: 0;
    }

    .zon {
        width: 110px;
        float: left;
    }

    .back-to-lamaravilla {
        display: none;
    }

    .navigation {
        list-style-type: none;
    }

    .navigation li {
        float: left;
        font-size: 50px;
        font-style: bold;
        font-family:'Courier New', Courier, monospace;
        margin-left: 20px;
        margin-top: 35px;
    }

    .footer { 
        position: absolute; 
        left: 0 ; right: 0; bottom: -550px; 
        height:[footer-height];
        float: left;
    }

    .p-footer {
        text-align: center;
    }

    .black-line {
        padding: 1px;
        padding-left: 35px;
        padding-right: 35px;
        width: 60%;
        margin-left: 10%;
        background-color: black;
        align-content: center;
    }

    .bottom-footer {
        margin-bottom: 25px;
        margin-left: 12.5%;
    }

    .top-footer {
        margin-left: 12.5%;
    }

    .h1-align-welcome {
        float: left;
        margin-top: 25px;
        font-size: 20px;
        width: 80%;
        margin-left: 10%;
        text-align: center
    }

    .p-homepage {
        text-align: center;
        float: left;
        width: 90%;
        margin-left: 5%;
        font-size: 20px;
    }

    .navigation-div {
        z-index: 1;
    }

    .test-regels {
        float: left; 
    }

    .test-regels li {
        margin-top: 10px;
        font-size: 20px;
        margin-bottom: 20px;
    }

    .p-first {
        margin-top: 10px;
    }

    .bottom-socials {
        width: 75%;
        margin-left: 12.5%;
    }

    .bottom-socials li{
        list-style-type: none;
        width: 75%;
        margin-left: 12.5%;
    }

    .socials-vertical-line {
        display: none;
    }

    .socials {
        display: none;
    }
    
    .bottom-social {
        margin-top: 10px;
        width: 55px;
        float: left;
    }

    .socials-bottom-line {
        float: left;
        margin-top: 25px;
        margin-left: 12.5%;
    }
}

@media screen and (min-width: 599px) and (max-width: 625px) and (min-height: 800px) and (max-height: 959px){

    body {
        background-image: url("../img/Smalltablet.png");
        background-attachment: fixed;
        background-position-x: 0;
    }

    .zon {
        width: 130px;
        float: left;
    }

    .back-to-lamaravilla {
        display: none;
    }

    .navigation {
        list-style-type: none;
    }

    .navigation li {
        float: left;
        font-size: 50px;
        font-style: bold;
        font-family:'Courier New', Courier, monospace;
        margin-left: 25px;
        margin-top: 40px;
    }

    .footer { 
        position: absolute; 
        left: 0 ; right: 0; bottom: -150px; 
        height:[footer-height];
        float: left;
    }

    .p-footer {
        text-align: center;
    }

    .black-line {
        padding: 1px;
        padding-left: 35px;
        padding-right: 35px;
        width: 60%;
        margin-left: 10%;
        background-color: black;
        align-content: center;
    }

    .bottom-footer {
        margin-bottom: 25px;
        margin-left: 12.5%;
    }

    .top-footer {
        margin-left: 12.5%;
    }

    .h1-align-welcome {
        float: left;
        margin-top: 25px;
        font-size: 20px;
        width: 80%;
        margin-left: 10%;
        text-align: center
    }

    .p-homepage {
        text-align: center;
        float: left;
    }

    .navigation-div {
        z-index: 1;
    }

    .test-regels {
        float: left; 
    }

    .test-regels li {
        margin-top: 10px;
    }

    .p-first {
        margin-top: 10px;
    }

    .bottom-socials {
        width: 75%;
        margin-left: 7.5%;
    }

    .bottom-socials li{
        list-style-type: none;
        width: 75%;
        margin-left: 12.5%;
    }

    .socials-vertical-line {
        display: none;
    }

    .socials {
        display: none;
    }
    
    .bottom-social {
        margin-top: 10px;
        width: 85px;
        float: left;
    }

    .socials-bottom-line {
        float: left;
        margin-top: 25px;
        margin-left: 12.5%;
        display: none;
    }
}

@media screen and (min-width: 599px) and (max-width: 767px) and (min-height: 960px) and (max-height: 1023px){

    body {
        background-image: url("../img/Nexus7.png");
        background-attachment: fixed;
        background-position-x: 0;
    }

    .zon {
        width: 160px;
        float: left;
    }

    .back-to-lamaravilla {
        display: none;
    }

    .navigation {
        list-style-type: none;
    }

    .navigation li {
        float: left;
        font-size: 60px;
        font-style: bold;
        font-family:'Courier New', Courier, monospace;
        margin-left: 25px;
        margin-top: 60px;
    }

    .footer { 
        position: absolute; 
        left: 0 ; right: 0; bottom: -250px; 
        height:[footer-height];
        float: left;
    }

    .p-footer {
        text-align: center;
    }

    .black-line {
        padding: 1px;
        padding-left: 35px;
        padding-right: 35px;
        width: 60%;
        margin-left: 10%;
        background-color: black;
        align-content: center;
    }

    .bottom-footer {
        margin-bottom: 25px;
        margin-left: 12.5%;
    }

    .top-footer {
        margin-left: 12.5%;
    }

    .h1-align-welcome {
        float: left;
        margin-top: 25px;
        font-size: 25px;
        width: 80%;
        margin-left: 10%;
        text-align: center
    }

    .p-homepage {
        text-align: center;
        float: left;
        font-size: 20px;
        width: 90%;
        margin-left: 5%;
    }

    .navigation-div {
        z-index: 1;
    }

    .test-regels {
        float: left; 
        margin-bottom: 25px;
    }

    .test-regels li {
        margin-top: 10px;
        font-size: 20px;
    }

    .p-first {
        margin-top: 10px;
    }

    .bottom-socials {
        width: 75%;
        margin-left: 7.5%;
    }

    .bottom-socials li{
        list-style-type: none;
        width: 75%;
        margin-left: 12.5%;
    }

    .socials-vertical-line {
        display: none;
    }

    .socials {
        display: none;
    }
    
    .bottom-social {
        margin-top: 10px;
        width: 85px;
        float: left;
    }

    .socials-bottom-line {
        float: left;
        margin-top: 25px;
        margin-left: 12.5%;
        display: none;
    }
}

@media screen and (min-width: 599px) and (max-width: 625px) and (min-height: 1024px){

    body {
        background-image: url("../img/BlackberryPlaybook.png");
        background-attachment: fixed;
        background-position-x: 0;
    }

    .zon {
        width: 175px;
        float: left;
    }

    .back-to-lamaravilla {
        display: none;
    }

    .navigation {
        list-style-type: none;
    }

    .navigation li {
        float: left;
        font-size: 60px;
        font-style: bold;
        font-family:'Courier New', Courier, monospace;
        margin-left: 25px;
        margin-top: 60px;
    }

    .footer { 
        position: absolute; 
        left: 0 ; right: 0; bottom: -450px; 
        height:[footer-height];
        float: left;
    }

    .p-footer {
        text-align: center;
    }

    .black-line {
        padding: 1px;
        padding-left: 35px;
        padding-right: 35px;
        width: 60%;
        margin-left: 10%;
        background-color: black;
        align-content: center;
    }

    .bottom-footer {
        margin-bottom: 25px;
        margin-left: 12.5%;
    }

    .top-footer {
        margin-left: 12.5%;
    }

    .h1-align-welcome {
        float: left;
        margin-top: 25px;
        font-size: 35px;
        width: 80%;
        margin-left: 10%;
        text-align: center
    }

    .p-homepage {
        text-align: center;
        float: left;
        font-size: 25px;
    }

    .navigation-div {
        z-index: 1;
    }

    .test-regels {
        float: left; 
        margin-bottom: 50px;
    }

    .test-regels li {
        margin-top: 10px;
        font-size: 20px;
    }

    .p-first {
        margin-top: 10px;
    }

    .bottom-socials {
        width: 75%;
        margin-left: 7.5%;
    }

    .bottom-socials li{
        list-style-type: none;
        width: 75%;
        margin-left: 12.5%;
    }

    .socials-vertical-line {
        display: none;
    }

    .socials {
        display: none;
    }
    
    .bottom-social {
        margin-top: 10px;
        width: 85px;
        float: left;
    }

    .socials-bottom-line {
        float: left;
        margin-top: 25px;
        margin-left: 12.5%;
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 799px) and (min-height: 1024px){

    body {
        background-image: url("../img/iPad.png");
        background-attachment: fixed;
        background-position-x: 0;
    }

    .zon {
        width: 175px;
        float: left;
    }

    .back-to-lamaravilla {
        display: none;
    }

    .navigation {
        list-style-type: none;
    }

    .navigation li {
        float: left;
        font-size: 75px;
        font-style: bold;
        font-family:'Courier New', Courier, monospace;
        margin-left: 30px;
        margin-top: 55px;
    }

    .footer { 
        position: absolute; 
        left: 0 ; right: 0; bottom: -150px; 
        height:[footer-height];
        float: left;
    }

    .p-footer {
        text-align: center;
        font-size: 25px;
    }

    .black-line {
        padding: 1px;
        padding-left: 35px;
        padding-right: 35px;
        width: 60%;
        margin-left: 10%;
        background-color: black;
        align-content: center;
    }

    .bottom-footer {
        margin-bottom: 25px;
        margin-left: 14%;
    }

    .top-footer {
        margin-left: 14%;
    }

    .h1-align-welcome {
        float: left;
        margin-top: 25px;
        font-size: 20px;
        width: 80%;
        margin-left: 10%;
        text-align: center
    }

    .p-homepage {
        text-align: center;
        float: left;
        width: 90%;
        margin-left: 5%;
        font-size: 20px;
    }

    .navigation-div {
        z-index: 1;
    }

    .test-regels {
        float: left; 
        margin-bottom: 20px;
    }

    .test-regels li {
        margin-top: 10px;
        font-size: 20px;
    }

    .p-first {
        margin-top: 10px;
    }

    .bottom-socials {
        width: 75%;
        margin-left: 7.5%;
    }

    .bottom-socials li{
        list-style-type: none;
        width: 75%;
        margin-left: 14%;
    }

    .socials-vertical-line {
        display: none;
    }

    .socials {
        display: none;
    }
    
    .bottom-social {
        margin-top: 10px;
        width: 110px;
        float: left;
    }

    .socials-bottom-line {
        float: left;
        margin-top: 25px;
        margin-left: 14%;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 800px) and (max-width: 1023px) and (max-height: 1280px) and (min-height: 1180px){
    body {
        background-image: url("../img/KindleFireHDX.png");
        background-attachment: fixed;
        background-position-x: 0;
    }

    .zon {
        width: 225px;
        float: left;
    }

    .back-to-lamaravilla {
        display: none;
    }

    .navigation {
        list-style-type: none;
    }

    .navigation li {
        float: left;
        font-size: 85px;
        font-style: bold;
        font-family:'Courier New', Courier, monospace;
        margin-left: 30px;
        margin-top: 80px;
    }

    .footer { 
        position: absolute; 
        left: 0 ; right: 0; bottom: -275px; 
        height:[footer-height];
        float: left;
    }

    .p-footer {
        text-align: center;
        font-size: 35px;
    }

    .black-line {
        padding: 1px;
        padding-left: 35px;
        padding-right: 35px;
        width: 60%;
        margin-left: 10%;
        background-color: black;
        align-content: center;
    }

    .bottom-footer {
        margin-bottom: 25px;
        margin-left: 14%;
    }

    .top-footer {
        margin-left: 14%;
    }

    .h1-align-welcome {
        float: left;
        margin-top: 25px;
        font-size: 30px;
        width: 80%;
        margin-left: 10%;
        text-align: center
    }

    .p-homepage {
        text-align: center;
        float: left;
        font-size: 25px;
        width: 90%;
        margin-left: 5%;
    }

    .navigation-div {
        z-index: 1;
    }

    .test-regels {
        float: left; 
        margin-bottom: 50px;
    }

    .test-regels li {
        margin-top: 10px;
        font-size: 25px;
    }

    .p-first {
        margin-top: 10px;
    }

    .bottom-socials {
        width: 75%;
        margin-left: 7.5%;
    }

    .bottom-socials li{
        list-style-type: none;
        width: 75%;
        margin-left: 14%;
    }

    .socials-vertical-line {
        display: none;
    }

    .socials {
        display: none;
    }
    
    .bottom-social {
        margin-top: 10px;
        width: 110px;
        float: left;
    }

    .socials-bottom-line {
        float: left;
        margin-top: 25px;
        margin-left: 14%;
        margin-bottom: 40px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) and (max-height: 1075px){

    body {
        background-image: url("../img/iPad Pro.png");
        background-attachment: fixed;
        background-position-x: 0;
    }

    .zon {
        width: 235px;
        float: left;
    }

    .back-to-lamaravilla {
        display: none;
    }

    .navigation {
        list-style-type: none;
    }

    .navigation li {
        float: left;
        font-size: 100px;
        font-style: bold;
        font-family:'Courier New', Courier, monospace;
        margin-left: 45px;
        margin-top: 75px;
    }

    .footer { 
        position: absolute; 
        left: 0 ; right: 0; bottom: -900px; 
        height:[footer-height];
        float: left;
    }

    .p-footer {
        text-align: center;
    }

    .black-line {
        padding: 1px;
        padding-left: 35px;
        padding-right: 35px;
        width: 60%;
        margin-left: 10%;
        background-color: black;
        align-content: center;
    }

    .bottom-footer {
        margin-bottom: 25px;
        margin-left: 16.5%;
    }

    .top-footer {
        margin-left: 16.5%;
    }

    .h1-align-welcome {
        float: left;
        margin-top: 25px;
        font-size: 50px;
        width: 80%;
        margin-left: 10%;
        text-align: center
    }

    .p-homepage {
        text-align: center;
        float: left;
        width: 80%;
        margin-left: 10%;
        font-size: 35px;
    }

    .navigation-div {
        z-index: 1;
    }

    .test-regels {
        float: left; 
    }

    .test-regels li {
        margin-top: 10px;
        font-size: 35px;
    }

    .p-first {
        margin-top: 10px;
    }

    .bottom-socials {
        width: 75%;
        margin-left: 7.5%;
    }

    .bottom-socials li{
        list-style-type: none;
        width: 80%;
        margin-left: 12.5%;
    }

    .socials-vertical-line {
        display: none;
    }

    .socials {
        display: none;
    }
    
    .bottom-social {
        margin-top: 10px;
        width: 175px;
        float: left;
    }

    .socials-bottom-line {
        float: left;
        margin-top: 50px;
        margin-left: 16.5%;
        margin-bottom: 40px;
    }
}

@media screen and (min-width: 1366px) and (max-width: 1400px) and (min-height: 768px) and (max-height: 1279px){
    body {
        background-image: url("../img/Lamaravilla.png");
        background-attachment: fixed;
        background-position-x: 0;
    }

    .zon {
        width: 165px;
        float: left;
        position: fixed;
        margin-top: -85px;
        margin-left: -85px;
    }

    .back-to-lamaravilla {
        float: left;
        font-size: 260%;
        margin-top: -20px;
        margin-left: 100px;
        position: fixed;
    }

    .navigation {
        list-style-type: none;
        float: left;
        position: fixed;
        margin-left: 32.5%;
    }

    .navigation li {
        float: left;
        font-size: 105px;
        font-style: bold;
        font-family: Arial, Helvetica, sans-serif;
        margin-left: 125px;
        margin-top: -75px;
    }

    .navigation-div {
        background-color: #c60b1e;
        top: 0; left: 0; right: 0;
        position: fixed;
        float: left;
        padding: 110px;
    }

    .navbar-vertical-line {
        background-color: black;
        padding: 1.5px;
        padding-top: 70px;
        padding-bottom: 70px;
        width: 1px;   
        float: left;
        margin-left: 32.5%;
        margin-top: -70px;
        position: fixed;
    }

    .footer { 
        position: absolute; 
        left: 0 ; right: 0; bottom: -400px; 
        height:[footer-height];
        float: left;
    }

    .p-footer {
        text-align: center;
        font-size: 35px;
    }

    .black-line {
        padding: 1px;
        padding-left: 35px;
        padding-right: 35px;
        width: 60%;
        margin-left: 10%;
        background-color: black;
        align-content: center;
    }

    .bottom-footer {
        margin-bottom: 25px;
        margin-left: 16.5%;
    }

    .top-footer {
        margin-left: 16.5%;
    }

    .h1-align-welcome {
        float: left;
        margin-top: 25px;
        font-size: 60px;
        width: 60%;
        margin-left: 10%;
        text-align: center
    }

    .p-homepage {
        text-align: center;
        float: left;
        width: 60%;
        margin-left: 10%;
        font-size: 25px;
    }

    .navigation-div {
        z-index: 1;
    }

    .test-regels {
        float: left; 
        width: 60%;
        margin-left: 10%;
        margin-bottom: 50px;
    }

    .test-regels li {
        margin-top: 10px;
        font-size: 25px;
    }

    .p-first {
        margin-top: 10px;
    }

    .bottom-socials {
        display: none;
    }

    .socials-vertical-line {
        background-color: black;
        padding: 1.5px;
        padding-top: 235px;
        padding-bottom: 235px;
        float: left;
        position: fixed;
        margin-left: 80%;
        margin-top: 15.75%;
    }

    .socials {
        float: left;
        position: fixed;
        list-style-type: none;
        margin-left: 85%;
        margin-top: 15.25%;
    }

    .socials-img {
        width: 120px;
        margin-top: 25%;
    }
    
    .bottom-social {
        display: none;
    }

    .socials-bottom-line {
        display: none;
    }
} */
    body {
        background-image: url("../img/LaptopFullHD.png");
        background-size: contain;
        background-attachment: fixed;
        background-position-x: 0;
    }

    .zon {
        width: 10vw;
        float: left;
        position: fixed;
        margin-left: -5vw;
        margin-top: -5vw;
    }

    .question-border {
        border-style: solid;
        border-radius: 20px;
        border-width: 10%;
        border-color: black;
        margin-bottom: 5%;
    }

    .question-spacer {
        margin-bottom: 25vh;
    }

    .submit {
        border-style: none;
        border-radius: 2.5vw;
        width: 15vw;  
        font-size: 1.25vw;
        background-color: #0fb9e4;
        padding: 1vw;
        margin-bottom: 5%;
        margin-left: 80vw;
    }

    .submit:hover {
        background-color: rgb(13, 43, 173);
    }


    .question {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-left: 2.5%;
    }

    .result {
        width: 80vw;
        font-size: 2.5vw;
        margin-left: 10%;
        font-family: arial;
    }

    .spacer {
        margin-bottom: 25vh;
    }

    .container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-left: 5%;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      
      /* Hide the browser's default radio button */
      .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }
      
      /* Create a custom radio button */
      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
        border-radius: 50%;
      }
      
      /* On mouse-over, add a grey background color */
      .container:hover input ~ .checkmark {
        background-color: #ccc;
      }
      
      /* When the radio button is checked, add a blue background */
      .container input:checked ~ .checkmark {
        background-color: #2196F3;
      }
      
      /* Create the indicator (the dot/circle - hidden when not checked) */
      .checkmark:after {
        content: "";
        position: absolute;
        display: none;
      }
      
      /* Show the indicator (dot/circle) when checked */
      .container input:checked ~ .checkmark:after {
        display: block;
      }
      
      /* Style the indicator (dot/circle) */
      .container .checkmark:after {
        top: 9px;
        left: 9px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: white;
      }

      .navigation {
        list-style-type: none;
        float: left;
        position: fixed;
        margin-left: 35%;
        }

      .navigation a {
        color: orangered;
        }

      .back-to-lamaravilla {
        float: left;
        font-size: 15vw;
        margin-top: -20px;
        margin-left: 100px;
        position: fixed;
    }

    .back-to-lamaravilla a {
        text-decoration: none;
        color: rgb(255, 117, 67);
    }

    .back-to-lamaravilla {
        float: left;
        font-size: 2.5vw;
        margin-top: -20px;
        margin-left: 100px;
        position: fixed;
    }

    .navigation {
        list-style-type: none;
        float: left;
        position: fixed;
        margin-left: 35%;
    }

    .navigation li {
        float: left;
        font-size: 75px;
        font-style: bold;
        font-family: Arial, Helvetica, sans-serif;
        margin-left: 125px;
        margin-top: -50px;
    }

    .navigation-div {
        background-color: #c60b1e;
        top: 0; left: 0; right: 0;
        position: fixed;
        float: left;
        padding: 11.25vh;
    }

    .navbar-vertical-line {
        background-color: black;
        padding: 0.1vw;
        padding-top: 8.5vh;
        padding-bottom: 8.5vh;
        width: 0.01vw;   
        float: left;
        margin-left: 37.5vw;
        margin-top: -8.5vh;
        position: fixed;
    }

    .footer { 
        position: absolute; 
        left: 0 ; right: 0; bottom: -100px; 
        height:[footer-height];
        float: left;
    }

    .p-footer {
        text-align: center;
        font-size: 35px;
    }

    .h1-align-welcome {
        float: left;
        margin-top: 25vh;
        font-size: 4vw;
        width: 60vw;
        margin-left: 7.5vw;
        text-align: center
    }

    .p-homepage {
        text-align: center;
        float: left;
        width: 60vw;
        margin-left: 8.5vw;
        font-size: 1.5vw;
    }

    .navigation-div {
        z-index: 1;
    }

    .test-regels {
        float: left; 
        width: 58vw;
        margin-left: 8.5vw;
        margin-bottom: 6vh;
    }

    .test-regels li {
        margin-top: 1vh;
        font-size: 1.5vw;
    }

    .p-first {
        margin-top: 10px;
    }

    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: black;
        opacity: 50%;
        color: white;
        text-align: center;
     }

    .socials-vertical-line {
        background-color: black;
        padding: 0.10vw;
        padding-top: 22.5vh;
        padding-bottom: 22.5vh;
        float: left;
        position: fixed;
        margin-left: 80vw;
        margin-top: 27.5vh;
    }

    .socials {
        float: left; 
        position: fixed;
        list-style-type: none;
        margin-left: 82.5vw;
        margin-top: 19.5vh;
    }

    .socials-img {
        width: 6vw;
        margin-top: 6vh;
    }

    .bottom-socials {
        display: none;
    }
    
    .bottom-social {
        display: none;
    }

    .socials-bottom-line {
        display: none;
    }